[submodule "libraries/cpr"]
	path = libraries/cpr
	url = https://github.com/libcpr/cpr
[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/nlohmann/json
[submodule "libraries/liboauthcpp"]
	path = libraries/liboauthcpp
	url = https://github.com/sirikata/liboauthcpp
[submodule "libraries/mongoose"]
	path = libraries/mongoose
	url = https://github.com/cesanta/mongoose
